body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.spaced-heading {
    margin-top: 70px;
    text-align: center;
    font-size: 48px;
    color: rgb(75, 75, 75);
}

.center-input {
    text-align: center;
    margin-top: 50px;
    color: rgb(75, 75, 75);
}

input[type="text"] {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    width: 60%;
    max-width: 500px;
    margin-top: 200px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    width: 350px;
    height: 75px;
    padding: 14px 28px;
    font-size: 24px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(97, 156, 176);
}
