<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <title>Will it rain on my parade?</title>
</head>

<body>
    <h1 class="heading"><strong>Please select location and date:</strong></h1>
    <div class="body-container">
        <div style="width: 600px; height: 400px; position: relative;" class="map-container leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" id="map"></div>
        <div class="input-container">
            <div class="input">
                <input type="text" id="address" name="address" placeholder="Enter the full address">
                <input type="date" id="date" name="date">
            </div>
        </div>
        <div class="button-container">
            <button type="submit" onclick="submitAddressAndDate"><strong>Will it rain on my parade?</strong></button>
        </div>
    </div>
</body>

<!-- Script for map-->
<script type="module">

    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function onMapClick(e) {
        console.log(e.latlng);
        document.getElementById("lat").value = e.latlng.lat;
        document.getElementById("lng").value = e.latlng.lng;

        document.getElementById("address").value = "Using coordinates";

    }

    map.on('click', onMapClick);
</script>

<script>
    function submitAddressAndDate(){
        var date = getElementById("date").value;
        console.log(date);
        var lat = document.getElementById("lat").value;
        var lng = document.getElementById("lng").value;

        if (date && lat && lng){
            window.location.href = `https://drmy-server-fast.tail8afd19.ts.net/?latitude=${lat}&longitude=${lng}&date=${"20251010"}`;
        }
    }
</script>

<!-- Script to save the date in a variable -->
<script>
    const dateInput = document.querySelector('input[type="date"]');
    let selectedDate = null;
    dateInput.addEventListener('change', function () {
        selectedDate = this.value;
        console.log("Selected date:", selectedDate);
    });
</script>

</html>